:root {
  --dark: rgb(30, 30, 30);
  --dark-grey: rgb(101, 101, 101);
  --grey: rgb(182, 182, 182);
  --light-grey: rgb(231, 231, 231);
  --very-light-grey: rgb(250, 250, 250);
  --white: rgb(255, 255, 255);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.users_title {
  text-align: center;
}

.users_card {
  padding: 1rem;

  /* border: solid 1px #ccc; */
  display: flex;
  gap: 1rem;
}

.users_card:not(:last-child) {
  margin-bottom: 1rem;
}

.users_card .photo {
  width: 100px;
  height: 100px;
  border-radius: 0.5rem;
  border: solid 2px #8d8c8c;
}

.num_post {
  display: inline;
  float: right;
  margin: 0 0 0 67%;
  padding: 8% 0 0 0;
  width: 100%;
}

.bio {
  margin: 1rem;
  padding: 1rem 1rem 1rem 1rem;

  /* background-color: var(--light-grey); */
  border: 0.5px solid gray;
}

.bio h2 {
  margin-top: 0;
  font-size: 1.25em;
}

.post {
  margin: 1rem;

  /* padding: 1rem; */

  background-color: var(--white);
  border-radius: 0.5rem;
}

.border1 {
  border: solid 1px var(--light-grey);
}

.see-all {
  text-align: center;
  margin-bottom: 2rem;
}

.see-all a {
  padding: 0.5rem 1rem;
}

.frame {
  display: flex;
  border: 0.5px solid gray;
  width: 100%;
}

.name_bio {
  width: 50%;
}

.like_comment {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  padding: 0 5% 0 0;
}

.comments {
  border: 0.5px solid gray;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.post_card {
  border: 0.5px solid gray;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.comment {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.show_post {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 20%;
}
